<div class="row">
    <div class="el">{{id}}</div>
    <div class="el">obraz</div>
    <div class="el">{{name}}</div>
    <div class="el">{{size}}</div>
    <div class="el">{{type}}</div>
    <div class="el"><a href="/del?id={{id}}">delete</a></div>
    <div class="el"><a href="/info?id={{id}}">info</a></div>
    <div class="el"><a href="{{path}}" download="{{name}}">download</a></div>
</div>